#ust {
	height:80px;
	padding-top: 10px;
}

#icerik {
	min-height: 620px;
}
#alt {
	min-height: 50px;
}

#icerik #sol .kutu{
	background-color: #fff;
	width: 100%;
	min-height: 80px;
	margin: 30px 0;
	border:1px solid #D9D7D7;
	padding: 20px 30px;
}
#icerik #sol .kutu a{
	text-decoration: none;
	padding: 4px 0; 
}
#icerik #sol .kutu a h3{
	color: #000;
	font-size:25px;
	font-weight: bold;
}
#icerik #sol .kutu .tarih{
	padding: 4px 0;
	font-size: 13px;
}
#icerik #sol .kutu .icerik{
	padding: 4px 0;
	font-size: 15px;
}
#icerik #sol .kutu .okunma{
	padding: 4px 0;
	font-size: 13px;
}
#icerik #sag .kutu{
	background-color: #fff;
	width: 100%;
	min-height: 600px;
	margin: 30px 0;
	padding: 20px 30px;
	border:1px solid #D9D7D7;
}

#icerik #sag .kutu h2{
	font-size: 18px;
	font-weight: 600;
	color: #777272;
}

.sag_kategori{
	list-style: none;
	padding: 0;
}
.sag_kategori li{
	padding: 8px 0;
	border-bottom:  1px solid #D9D7D7;
}
.sag_kategori li a{
	font-size:14px;
	color:#C4B9B9;
	text-decoration: none;
}
.sag_son_yorumlananlar{
	list-style: none;
	padding: 0;
}
.sag_son_yorumlananlar li{
	padding: 8px 0;
	border-bottom:  1px solid #D9D7D7;
}
.sag_son_yorumlananlar li a{
	font-size:14px;
	color:#C4B9B9;
	text-decoration: none;
}
.sag_goruntulenenler{
	list-style: none;
	padding: 0;
}
.sag_goruntulenenler li{
	padding: 8px 0;
	border-bottom:  1px solid #D9D7D7;
}
.sag_goruntulenenler li a{
	font-size:14px;
	color:#C4B9B9;
	text-decoration: none;
}
.imza{
	margin: 5px 0;
}
.imza a{
	text-decoration: none;
	color: #fff;

}

.ust_menu {
	list-style: none;
	margin-top: 15px;
}
.ust_menu li{
	display: inline-block;
	padding-top: 4px 8px;
}
.ust_menu li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}